<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Planning</title>

		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="bootstrap/js/jquery-1.10.2.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>

		<link rel="stylesheet" href="css/form-elements.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="css/clean-blog.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body data-ng-app="app">
		<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Planning</a>
			</div>
			<div class="container-fluid">				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="index.html">Calendrier</a>
						</li>
						<li>
							<a href="prof.html">Ajouter Enseignants</a>
						</li>
						<li>
							<a href="salles.html">Ajouter Salles</a>
						</li>
						<li>
							<a href="classe.html">Ajouter Classes</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<header class="intro-header" style="background-image: url('img/home2-bg.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							<h1 class="contour">Ajouter Un Enseignant</h1>
							<hr class="small">
							<span class="subheading contour">Réalisé par Florent, Killian et Romain</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<div class="container" data-ng-controller="Controleur">
			<div class="row">
				<div class="col-sm-5">                        	
					<div class="form-box">				   
						<div id="enseignants" class="form-bottom">
							<form role="form" class="registration-form">
								<div class="form-group">
									<label class="sr-only" for="prenomEnseignant">Prénom de l'enseignant</label>
									<input type="text" placeholder="Prénom de l'enseignant" data-ng-model="newEnseignant.prenomEnseignant" class="form-first-name form-control" id="prenomEnseignant" required>
								</div>
								
								<div class="form-group">										
									<label class="sr-only" for="nomEnseignant"> Nom de l'enseignant</label>
									<input type="text" placeholder="Nom de l'enseignant" data-ng-model="newEnseignant.nomEnseignant" class="form-first-name form-control" id="nomEnseignant" required>
								</div>
								
								<button class="btn" data-ng-click="newEnseignant()">Ajouter Enseignant</button>
							</form>
						</div>
					</div>						
				</div>
			</div>
			
			<div class="row col-10">
				<footer>
					<div class="footer-border"></div>
				</footer>
				
				<div id="enseignants">
					<table class="table table-bordered table-striped">
						<tr>
							<td class="success">Suprression Enseignants</td>
							<td class="success">Login Enseignant</td>
							<td class="success">Prénom Enseignant</td>
							<td class="success">Nom Enseignant</td>
						</tr>
						
						<tr data-ng-repeat="a in enseignants track by $index">
							<td><img src="img/suppr.png" alt="suppr" data-ng-click="deleteProf($index)"/></td>
							<td>{{ a.loginEnseignant }}</td>
							<td>{{ a.prenomEnseignant }}</td>
							<td>{{ a.nomEnseignant }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>